<div *ngIf="loaded">
	<h2>Изменение данных о Пользователе</h2>

	<!--Загружаем клиента в форму-->

	<customer-form [(customer)]="customer"></customer-form>

	<!--Добавление продуктов клиенту-->

	<div class="form-group">
		<label>Продукты</label>
		<select class="form-control" name="productid" [(ngModel)]="productid">
			<option *ngFor="let c of allproducts" [value]="c.id">
				{{c.nameProduct}}
			</option>
		</select>
	</div>
	<div class="form-group">
		<label>Продукты клиента</label>
		<select class="form-control" name="productDel" [(ngModel)]="productDel">
			<option *ngFor="let c of customer.products" [value]="c.id">
				{{c.nameProduct}}
			</option>
		</select>
	</div>
</div>
<div class="form-group">
	<input type="button" value="Сохранить" (click)="save(productid, productDel)" class="btn btn-success" />
</div>
<a routerLink="/" class="nav-link">Назад к списку</a>