<a [routerLink]="['/']" class="btn btn-sm btn-primary">На главную</a>
<h1>Список Продуктов</h1>
<div>
	<a [routerLink]="['/create']" class="btn btn-default">Добавить</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th><input type="button" value="Модель" (click)="setOrderName(reverse)" class="btn btn-default" /></th>
			<th><input type="button" value="Производитель" (click)="setOrderPhone(reverse)" class="btn btn-default" /></th>
			<th><input type="button" value="Цена" (click)="setOrderAddress(reverse)" class="btn btn-default" /></th>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of products">
			<td>{{p?.nameProduct}}</td>
			<td>{{p?.description}}</td>
			<td>{{p?.price}}</td>
			<td>
				<a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
				<button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
			</td>
		</tr>
	</tbody>
</table>
<input type="button" value="Prev" (click)="prev(page-1)" [disabled]="page === 1" class="btn btn-default" />
<input type="button" value="1" (click)="prev(1)" [disabled]="page === 1" class="btn btn-default" />
<input type="button" value="2" (click)="prev(2)" [disabled]="page === 2" class="btn btn-default" />
<input type="button" value="3" (click)="prev(3)" [disabled]="page === 3" class="btn btn-default" />
<input type="button" value="Next" (click)="next(page+1)" class="btn btn-default" />
<input type="button" value="end" (click)="endpage(0)" class="btn btn-default" />