<a [routerLink]="['/']" class="btn btn-sm btn-primary">На главную</a>
<h1>Список Продуктов</h1>
<div>
	<a [routerLink]="['/create']" class="btn btn-default">Добавить</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th><input type="button" value="Модель" (click)="setOrderName(reverse)" class="btn btn-default" /></th>
			<th><input type="button" value="Производитель" (click)="setOrderDescription(reverse)" class="btn btn-default" /></th>
			<th><input type="button" value="Цена" (click)="setOrderPrice(reverse)" class="btn btn-default" /></th>
			<td>Операции</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of products">
			<td>{{p?.nameProduct}}</td>
			<td>{{p?.description}}</td>
			<td>{{p?.price}}</td>
			<td>
				<a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
				<button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
			</td>
		</tr>
	</tbody>
</table>
<input type="button" value="Prev" (click)="prevButAndAll(page-1)" [disabled]="page === 1" class="btn btn-default" />
<input type="button" *ngFor="let i of totalPage" [disabled]="i === page" value="{{i}}" (click)="prevButAndAll(i)" class="btn btn-default">
<input type="button" value="Next" (click)="nextBut(page+1)" [disabled]="page === totalPage.length" class="btn btn-default" />
<input type="button" value="end" (click)="endpage(totalPage.length)" [disabled]="page === totalPage.length" class="btn btn-default" />