<a routerLink="/product" class="btn btn-sm btn-primary">Продукты</a>
<h1>Список Пользователей</h1>
<div>
	<a routerLink="/createCustomer" class="btn btn-default">Добавить</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th [class.active]="order === 'name'"
				(click)="setOrder('name')"
				class="mdl-data-table__cell--non-numeric">
				Имя<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
			</th>
			<th [class.active]="order === 'phoneNumber'"
				(click)="setOrder('phoneNumber')"
				class="mdl-data-table__cell--non-numeric">
				Номер телефона<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
			</th>
			<th [class.active]="order === 'address'"
				(click)="setOrder('address')"
				class="mdl-data-table__cell--non-numeric">
				Адрес<span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
			</th>
			<th>Продукты клиента</th>
			<th>Операции</th>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of customers | paginate: config | orderBy: order:reverse:'case-insensitive'">
			<td>{{p?.name}}</td>
			<td>{{p?.phoneNumber}}</td>
			<td>{{p?.address}}</td>
			<td>
				<select class="form-control">
					<option *ngFor="let c of  p.products">
						{{c.nameProduct}}
					</option>
				</select>
				
			</td>
			<td>
				<a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
				<button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
			</td>
			
		</tr>
	</tbody>
</table>
<pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
