<a routerLink="/product" class="btn btn-sm btn-primary">Продукты</a>
<h1>Список Пользователей</h1>
<div>
	<a routerLink="/createCustomer" class="btn btn-default">Добавить</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Имя</td>
			<td>Номер телефона</td>
			<td>Адрес</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of customers">
			<td>{{p?.name}}</td>
			<td>{{p?.phoneNumber}}</td>
			<td>{{p?.address}}</td>
			<td>
				<a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
				<button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
			</td>
		</tr>
	</tbody>
</table>