<a routerLink="/product" class="btn btn-sm btn-primary">Продукты</a>
<h1>Список Пользователей</h1>
<div>
	<a routerLink="/createCustomer" class="btn btn-default">Добавить</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<td>Имя</td>
			<td>Номер телефона</td>
			<td>Адрес</td>
			<td>Продукты клиента</td>
			<td>Операции</td>

		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let p of customers | paginate:{itemsPerPage: 5, currentPage:p}">
			<td>{{p?.name}}</td>
			<td>{{p?.phoneNumber}}</td>
			<td>{{p?.address}}</td>
			<td>
				<select class="form-control">
					<option *ngFor="let c of  p.products">
						{{c.nameProduct}}
					</option>
				</select>
				
			</td>
			<td>
				<a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
				<button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
			</td>
			
		</tr>
	</tbody>
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>